.todo-head-Bar {
  border: solid;
  border-radius: 0.7rem;
  border-width: 0.13rem;
  border-color: rgb(139 139 139);
  padding: 12px;
}

.to-do-icon {
  font-size: 19px;
  color: #1e5128;
  padding: 2px 0;
}

.to-do-head {
  color: #1e5128;
}

/* /angular */
.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  min-height: 60px;
  background: rgb(250, #d8e9a8, 246);
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding-bottom: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
